################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
*.tlog
*.obj
*.pdb
*.idb
*.exe
*.ipch
*.log
*.lib
*.res
*.sdf
*.pch
/OSI2017-Grupa-9/OSI2017-Grupa-9/Obradjeni racuni/55.txt
/OSI2017-Grupa-9/OSI2017-Grupa-9/Obradjeni racuni/rac1.txt
/OSI2017-Grupa-9/OSI2017-Grupa-9/Obradjeni racuni/rac2.txt
/OSI2017-Grupa-9/OSI2017-Grupa-9/Racuni sa greskom/asd_error.txt
/OSI2017-Grupa-9/OSI2017-Grupa-9/Racuni sa greskom/rac2_error.txt
/OSI2017-Grupa-9/OSI2017-Grupa-9/Obradjeni racuni/asd2.txt
