################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
*.tlog
*.obj
*.pdb
*.idb
*.exe
*.ipch
*.log
*.lib
*.res
*.sdf
*.pch